body:after {
  display: none !important;
}

picture {
  position: relative;
  display: block;
}
picture.svg {
  position: relative;
  display: block;
  width: 100%;
  vertical-align: middle;
  padding-top: 100%;
}
picture.svg svg {
  position: absolute;
  overflow: visible !important;
  top: 0;
}
picture.svg svg image {
  width: 100%;
  height: auto;
}
picture > source {
  position: relative;
  display: none;
}
picture > img {
  display: block;
  margin: auto;
  width: 100%;
}
.js-modal-active .partial[data-partial*="layouts/modal"] .mejs-container + picture > img, .js-modal-active .partial[data-partial*="layouts/modal"] video + picture > img {
  position: fixed;
  top: 50%;
  left: 50%;
  width: auto !important;
  height: auto !important;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
}
picture > *:last-child {
  display: block;
}
picture > .last-child {
  display: block;
}

picture.align-left-default > img, picture.align-left-default > svg {
  width: auto;
  float: left;
}

picture.align-right-default > img, picture.align-right-default > svg {
  width: auto;
  float: right;
}

picture.align-horizontal-center-default {
  overflow: hidden;
}
picture.align-horizontal-center-default > img, picture.align-horizontal-center-default > svg {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: 100%;
}

picture.align-vertical-center-default {
  overflow: hidden;
}
picture.align-vertical-center-default > img, picture.align-vertical-center-default > svg {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: auto;
}

/* needs a height dimension from outerElement e.g. height: 50%;*/
picture.align-center-default {
  overflow: hidden;
}
picture.align-center-default > img, picture.align-center-default > svg {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  min-height: 100%;
}

picture.scale-default {
  width: 100%;
  margin-left: 0;
}
picture.scale-default > svg {
  width: 100%;
  height: 100%;
}
picture.scale-default > img {
  float: none;
  width: 100%;
  height: auto;
  margin-left: 0;
}

body:after {
  content: "default" !important;
}

@media (min-width: 480px) {
  picture.align-left-xs > img, picture.align-left-xs > svg {
    width: auto;
    float: left;
  }

  picture.align-right-xs > img, picture.align-right-xs > svg {
    width: auto;
    float: right;
  }

  picture.align-horizontal-center-xs {
    overflow: hidden;
  }
  picture.align-horizontal-center-xs > img, picture.align-horizontal-center-xs > svg {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: 100%;
  }

  picture.align-vertical-center-xs {
    overflow: hidden;
  }
  picture.align-vertical-center-xs > img, picture.align-vertical-center-xs > svg {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: auto;
  }

  /* needs a height dimension from outerElement e.g. height: 50%;*/
  picture.align-center-xs {
    overflow: hidden;
  }
  picture.align-center-xs > img, picture.align-center-xs > svg {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    min-height: 100%;
  }

  picture.scale-xs {
    width: 100%;
    margin-left: 0;
  }
  picture.scale-xs > svg {
    width: 100%;
    height: 100%;
  }
  picture.scale-xs > img {
    float: none;
    width: 100%;
    height: auto;
    margin-left: 0;
  }

  body:after {
    content: "xs" !important;
  }
}
@media (min-width: 768px) {
  picture.align-left-sm > img, picture.align-left-sm > svg {
    width: auto;
    float: left;
  }

  picture.align-right-sm > img, picture.align-right-sm > svg {
    width: auto;
    float: right;
  }

  picture.align-horizontal-center-sm {
    overflow: hidden;
  }
  picture.align-horizontal-center-sm > img, picture.align-horizontal-center-sm > svg {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: 100%;
  }

  picture.align-vertical-center-sm {
    overflow: hidden;
  }
  picture.align-vertical-center-sm > img, picture.align-vertical-center-sm > svg {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: auto;
  }

  /* needs a height dimension from outerElement e.g. height: 50%;*/
  picture.align-center-sm {
    overflow: hidden;
  }
  picture.align-center-sm > img, picture.align-center-sm > svg {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    min-height: 100%;
  }

  picture.scale-sm {
    width: 100%;
    margin-left: 0;
  }
  picture.scale-sm > svg {
    width: 100%;
    height: 100%;
  }
  picture.scale-sm > img {
    float: none;
    width: 100%;
    height: auto;
    margin-left: 0;
  }

  body:after {
    content: "sm" !important;
  }
}
@media (min-width: 992px) {
  picture.align-left-md > img, picture.align-left-md > svg {
    width: auto;
    float: left;
  }

  picture.align-right-md > img, picture.align-right-md > svg {
    width: auto;
    float: right;
  }

  picture.align-horizontal-center-md {
    overflow: hidden;
  }
  picture.align-horizontal-center-md > img, picture.align-horizontal-center-md > svg {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: 100%;
  }

  picture.align-vertical-center-md {
    overflow: hidden;
  }
  picture.align-vertical-center-md > img, picture.align-vertical-center-md > svg {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: auto;
  }

  /* needs a height dimension from outerElement e.g. height: 50%;*/
  picture.align-center-md {
    overflow: hidden;
  }
  picture.align-center-md > img, picture.align-center-md > svg {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    min-height: 100%;
  }

  picture.scale-md {
    width: 100%;
    margin-left: 0;
  }
  picture.scale-md > svg {
    width: 100%;
    height: 100%;
  }
  picture.scale-md > img {
    float: none;
    width: 100%;
    height: auto;
    margin-left: 0;
  }

  body:after {
    content: "md" !important;
  }
}
@media (min-width: 1200px) {
  picture.align-left-lg > img, picture.align-left-lg > svg {
    width: auto;
    float: left;
  }

  picture.align-right-lg > img, picture.align-right-lg > svg {
    width: auto;
    float: right;
  }

  picture.align-horizontal-center-lg {
    overflow: hidden;
  }
  picture.align-horizontal-center-lg > img, picture.align-horizontal-center-lg > svg {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: 100%;
  }

  picture.align-vertical-center-lg {
    overflow: hidden;
  }
  picture.align-vertical-center-lg > img, picture.align-vertical-center-lg > svg {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: auto;
  }

  /* needs a height dimension from outerElement e.g. height: 50%;*/
  picture.align-center-lg {
    overflow: hidden;
  }
  picture.align-center-lg > img, picture.align-center-lg > svg {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    min-height: 100%;
  }

  picture.scale-lg {
    width: 100%;
    margin-left: 0;
  }
  picture.scale-lg > svg {
    width: 100%;
    height: 100%;
  }
  picture.scale-lg > img {
    float: none;
    width: 100%;
    height: auto;
    margin-left: 0;
  }

  body:after {
    content: "lg" !important;
  }
}
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  background: none;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #fff;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #fff;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}
/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #fff;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #999;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

.token.function {
  color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
  color: #e90;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

pre.line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}

pre.line-numbers > code {
  position: relative;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em;
  /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 1px solid #999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}

.partial[data-partial="elements/touch-button"], .partial[data-partial^="elements/touch-button"] {
  display: none;
}

.partial[data-partial="components/header"] > div:after, .partial[data-partial="components/header"] > div:before {
  display: block;
  content: "";
  clear: both;
}
.partial[data-partial="components/header"] > div > div {
  position: relative;
}
.partial[data-partial="components/header"] > div > div:first-child {
  min-height: 120px;
}
.partial[data-partial="components/header"] > div > div h1, .partial[data-partial="components/header"] > div > div h2, .partial[data-partial="components/header"] > div > div h3, .partial[data-partial="components/header"] > div > div h4 {
  margin: 0;
  padding: 0 5px;
}
.partial[data-partial="components/header"] > div > div h1, .partial[data-partial="components/header"] > div > div h1 a, .partial[data-partial="components/header"] > div > div h2, .partial[data-partial="components/header"] > div > div h2 a, .partial[data-partial="components/header"] > div > div h3, .partial[data-partial="components/header"] > div > div h3 a, .partial[data-partial="components/header"] > div > div h4, .partial[data-partial="components/header"] > div > div h4 a {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  line-height: 1.2;
  color: #333333;
}
@media (min-width: 992px) {
  .partial[data-partial="components/header"] > div > div h1, .partial[data-partial="components/header"] > div > div h1 a, .partial[data-partial="components/header"] > div > div h2, .partial[data-partial="components/header"] > div > div h2 a, .partial[data-partial="components/header"] > div > div h3, .partial[data-partial="components/header"] > div > div h3 a, .partial[data-partial="components/header"] > div > div h4, .partial[data-partial="components/header"] > div > div h4 a {
    white-space: nowrap;
  }
}
.partial[data-partial="components/header"] > div > div h1, body.single-post .partial[data-partial="components/header"] > div > div h2 {
  font-size: 80px;
  line-height: 120px;
}
.partial[data-partial="components/header"] > div > div h1, .partial[data-partial="components/header"] > div > div h1 a, body.single-post .partial[data-partial="components/header"] > div > div h2, body.single-post .partial[data-partial="components/header"] > div > div h2 a {
  color: #bbbbbb;
}
body:not(.single-post) .partial[data-partial="components/header"] > div > div h2, body.single-post .partial[data-partial="components/header"] > div > div h3 {
  position: absolute;
  bottom: 19px;
  left: 45px;
  right: 15px;
  font-size: 30px;
}
@media (max-width: 991px) {
  body:not(.single-post) .partial[data-partial="components/header"] > div > div h2, body.single-post .partial[data-partial="components/header"] > div > div h3 {
    left: 25px;
    right: 10px;
  }
}
.partial[data-partial="components/header"] .single-navigation .back {
  border-right: solid #CCCCCC 6px;
}

.partial[data-partial="components/header/navigation"] {
  margin: 15px 5px;
  font-size: 16px;
  font-weight: 600;
}
.partial[data-partial="components/header/navigation"] > input {
  display: none;
}
.partial[data-partial="components/header/navigation"] ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.partial[data-partial="components/header/navigation"] ul:after, .partial[data-partial="components/header/navigation"] ul:before {
  display: block;
  content: "";
  clear: both;
}
.partial[data-partial="components/header/navigation"] ul li {
  margin-bottom: 10px;
}
.partial[data-partial="components/header/navigation"] ul li a {
  display: block;
  text-decoration: none;
  padding: 10px;
}
.partial[data-partial="components/header/navigation"] ul li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.partial[data-partial="components/header/navigation"] ul li > ul {
  margin: 10px 20px;
}
.partial[data-partial="components/header/navigation"] ul li > ul li a {
  font-size: 14px;
}
.partial[data-partial="components/header/navigation"] > .partial[data-partial="elements/touch-button/menu"] {
  display: none;
}
@media (max-width: 991px) {
  .partial[data-partial="components/header/navigation"] > div {
    display: none;
  }
  .partial[data-partial="components/header/navigation"] > input:checked + .partial[data-partial="elements/touch-button/menu"] + div {
    display: block;
  }
  .partial[data-partial="components/header/navigation"] > .partial[data-partial="elements/touch-button/menu"] {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 101;
  }
  .partial[data-partial="components/header/navigation"] > div {
    overflow-y: auto;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    bottom: 0;
    width: 30%;
    height: 100%;
    min-width: 192px;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 16px;
  }
  .partial[data-partial="components/header/navigation"] > div:after, .partial[data-partial="components/header/navigation"] > div:before {
    display: block;
    content: "";
    clear: both;
  }
  .partial[data-partial="components/header/navigation"] > div > ul > li a {
    color: #EEEEEE;
  }
  .partial[data-partial="components/header/navigation"] > div > ul > li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #FFFFFF;
  }
  .partial[data-partial="components/header/navigation"] > div > ul > li > a {
    padding: 10px;
    border-left: solid transparent 4px;
  }
  .partial[data-partial="components/header/navigation"] > div > ul > li.selected > a, .partial[data-partial="components/header/navigation"] > div > ul > li li.selected > a {
    background-color: rgba(0, 0, 0, 0.4);
    border-left-color: #cccccc;
  }
  .partial[data-partial="components/header/navigation"] > div > ul > li > ul li a {
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
@media (min-width: 992px) {
  .partial[data-partial="components/header/navigation"] > div > ul {
    margin: 0 -10px;
  }
  .partial[data-partial="components/header/navigation"] > div > ul > li a {
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
  }
  .partial[data-partial="components/header/navigation"] > div > ul > li.selected > a {
    color: #000000;
  }
  .partial[data-partial="components/header/navigation"] > div > ul > li ul li.selected a {
    color: #000000;
  }
}

.partial[data-partial="components/footer/navigation"] {
  margin: 20px 0;
}
.partial[data-partial="components/footer/navigation"] > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.partial[data-partial="components/footer/navigation"] > ul:after, .partial[data-partial="components/footer/navigation"] > ul:before {
  display: block;
  content: "";
  clear: both;
}
.partial[data-partial="components/footer/navigation"] > ul > li {
  margin-top: 10px;
}
.partial[data-partial="components/footer/navigation"] > ul > li:first-child {
  margin-top: 0;
}
.partial[data-partial="components/footer/navigation"] > ul > li ul {
  display: none;
}
@media (min-width: 768px) {
  .partial[data-partial="components/footer/navigation"] > ul > li {
    float: left;
    margin-top: 0;
    margin-right: 10px;
  }
}
.partial[data-partial="components/footer/navigation"] > ul > li > a {
  font-size: 14px;
  text-decoration: none;
  color: #555555;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
}
.partial[data-partial="components/footer/navigation"] > ul > li > a:hover {
  color: #000000;
}

.partial[data-partial="components/post-list"] > article:first-child > header {
  padding: 0 20px;
}
.partial[data-partial="components/post-list"] .partial[data-partial="components/post-list/post"], .partial[data-partial="components/post-list"] .partial[data-partial="components/media"], .partial[data-partial="components/post-list"] .partial[data-partial^="components/media/"] {
  margin-bottom: 20px;
}
.partial[data-partial="components/post-list"] .partial[data-partial="components/post-list/post"]:last-child, .partial[data-partial="components/post-list"] .partial[data-partial="components/media"]:last-child, .partial[data-partial="components/post-list"] .partial[data-partial^="components/media/"]:last-child {
  margin-bottom: 0;
}

.partial[data-partial="components/post-list/post"], .partial[data-partial="components/media"], .partial[data-partial^="components/media/"] {
  border-radius: 3px;
  overflow: hidden;
  background-color: white;
  transition: opacity .7s ease;
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.1);
}
.partial[data-partial="components/post-list/post"] > header, .partial[data-partial="components/media"] > header, .partial[data-partial^="components/media/"] > header {
  position: relative;
  margin: 20px;
  margin-bottom: 20px;
}
.partial[data-partial="components/post-list/post"] > header .headlines:after, .partial[data-partial="components/media"] > header .headlines:after, .partial[data-partial^="components/media/"] > header .headlines:after, .partial[data-partial="components/post-list/post"] > header .headlines:before, .partial[data-partial="components/media"] > header .headlines:before, .partial[data-partial^="components/media/"] > header .headlines:before {
  display: block;
  content: "";
  clear: both;
}
.partial[data-partial="components/post-list/post"] > header .headlines .headline, .partial[data-partial="components/media"] > header .headlines .headline, .partial[data-partial^="components/media/"] > header .headlines .headline, .partial[data-partial="components/post-list/post"] > header .headlines .subline, .partial[data-partial="components/media"] > header .headlines .subline, .partial[data-partial^="components/media/"] > header .headlines .subline {
  margin: 0;
  padding: 0;
  font-weight: 600;
  margin-bottom: 10px;
}
.partial[data-partial="components/post-list/post"] > header .headlines .headline:last-child, .partial[data-partial="components/media"] > header .headlines .headline:last-child, .partial[data-partial^="components/media/"] > header .headlines .headline:last-child, .partial[data-partial="components/post-list/post"] > header .headlines .subline:last-child, .partial[data-partial="components/media"] > header .headlines .subline:last-child, .partial[data-partial^="components/media/"] > header .headlines .subline:last-child {
  margin-bottom: 0;
}
.partial[data-partial="components/post-list/post"] > header .headlines .headline, .partial[data-partial="components/media"] > header .headlines .headline, .partial[data-partial^="components/media/"] > header .headlines .headline {
  font-size: 22px;
  color: #333333;
}
.partial[data-partial="components/post-list/post"] > header .headlines .subline, .partial[data-partial="components/media"] > header .headlines .subline, .partial[data-partial^="components/media/"] > header .headlines .subline {
  margin: 0;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  color: #888888;
}
.partial[data-partial="components/post-list/post"] > header picture, .partial[data-partial="components/media"] > header picture, .partial[data-partial^="components/media/"] > header picture {
  margin: -20px;
  margin-bottom: 20px;
  border-radius: 3px 0 0 0;
}
.partial[data-partial="components/post-list/post"] h1, .partial[data-partial="components/media"] h1, .partial[data-partial^="components/media/"] h1, .partial[data-partial="components/post-list/post"] h2, .partial[data-partial="components/media"] h2, .partial[data-partial^="components/media/"] h2, .partial[data-partial="components/post-list/post"] h3, .partial[data-partial="components/media"] h3, .partial[data-partial^="components/media/"] h3, .partial[data-partial="components/post-list/post"] h4, .partial[data-partial="components/media"] h4, .partial[data-partial^="components/media/"] h4 {
  margin: 20px;
  line-height: 1.2;
}
.partial[data-partial="components/post-list/post"] h1, .partial[data-partial="components/media"] h1, .partial[data-partial^="components/media/"] h1, .partial[data-partial="components/post-list/post"] h2, .partial[data-partial="components/media"] h2, .partial[data-partial^="components/media/"] h2 {
  font-size: 18px;
}
.partial[data-partial="components/post-list/post"] h3, .partial[data-partial="components/media"] h3, .partial[data-partial^="components/media/"] h3, .partial[data-partial="components/post-list/post"] h4, .partial[data-partial="components/media"] h4, .partial[data-partial^="components/media/"] h4 {
  font-size: 16px;
}
.partial[data-partial="components/post-list/post"] h4, .partial[data-partial="components/media"] h4, .partial[data-partial^="components/media/"] h4 {
  font-size: 14px;
}
.partial[data-partial="components/post-list/post"] p, .partial[data-partial="components/media"] p, .partial[data-partial^="components/media/"] p, .partial[data-partial="components/post-list/post"] blockquote, .partial[data-partial="components/media"] blockquote, .partial[data-partial^="components/media/"] blockquote {
  margin: 20px;
}
.partial[data-partial="components/post-list/post"] > p.info, .partial[data-partial="components/media"] > p.info, .partial[data-partial^="components/media/"] > p.info {
  margin: 20px;
}
.partial[data-partial="components/post-list/post"] > p.info:after, .partial[data-partial="components/media"] > p.info:after, .partial[data-partial^="components/media/"] > p.info:after, .partial[data-partial="components/post-list/post"] > p.info:before, .partial[data-partial="components/media"] > p.info:before, .partial[data-partial^="components/media/"] > p.info:before {
  display: block;
  content: "";
  clear: both;
}
.partial[data-partial="components/post-list/post"] > p.info .date, .partial[data-partial="components/media"] > p.info .date, .partial[data-partial^="components/media/"] > p.info .date {
  text-align: left;
  float: none;
  margin-top: 10px;
  font-size: 14px;
  color: #CCCCCC;
}
.partial[data-partial="components/post-list/post"] > p.info .more-link, .partial[data-partial="components/media"] > p.info .more-link, .partial[data-partial^="components/media/"] > p.info .more-link {
  float: right;
  text-decoration: none;
  color: #555555;
  font-weight: 600;
}
.partial[data-partial="components/post-list/post"] > p.info .more-link:hover, .partial[data-partial="components/media"] > p.info .more-link:hover, .partial[data-partial^="components/media/"] > p.info .more-link:hover {
  color: #000000;
}
.partial[data-partial="components/post-list/post"] > section, .partial[data-partial="components/media"] > section, .partial[data-partial^="components/media/"] > section {
  position: static;
  overflow: hidden;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}
.partial[data-partial="components/post-list/post"] > section > header + .area-content > *:first-child:first-child, .partial[data-partial="components/media"] > section > header + .area-content > *:first-child:first-child, .partial[data-partial^="components/media/"] > section > header + .area-content > *:first-child:first-child {
  margin-top: 20px;
}
.partial[data-partial="components/post-list/post"] > section > .area-content > *, .partial[data-partial="components/media"] > section > .area-content > *, .partial[data-partial^="components/media/"] > section > .area-content > * {
  margin: 20px 0;
}
.partial[data-partial="components/post-list/post"] > section > .area-content > *:first-child, .partial[data-partial="components/media"] > section > .area-content > *:first-child, .partial[data-partial^="components/media/"] > section > .area-content > *:first-child {
  margin-top: 0;
}
.partial[data-partial="components/post-list/post"] > section > .area-content > *:last-child, .partial[data-partial="components/media"] > section > .area-content > *:last-child, .partial[data-partial^="components/media/"] > section > .area-content > *:last-child {
  margin-bottom: 0;
}
.partial[data-partial="components/post-list/post"] > section > .area-content > * p, .partial[data-partial="components/media"] > section > .area-content > * p, .partial[data-partial^="components/media/"] > section > .area-content > * p, .partial[data-partial="components/post-list/post"] > section > .area-content > * blockquote, .partial[data-partial="components/media"] > section > .area-content > * blockquote, .partial[data-partial^="components/media/"] > section > .area-content > * blockquote {
  margin: 20px;
}
.partial[data-partial="components/post-list/post"] > section > .area-content > * p:first-child, .partial[data-partial="components/media"] > section > .area-content > * p:first-child, .partial[data-partial^="components/media/"] > section > .area-content > * p:first-child, .partial[data-partial="components/post-list/post"] > section > .area-content > * blockquote:first-child, .partial[data-partial="components/media"] > section > .area-content > * blockquote:first-child, .partial[data-partial^="components/media/"] > section > .area-content > * blockquote:first-child {
  margin-top: 0;
}
.partial[data-partial="components/post-list/post"] > section > .area-content > * p:last-child, .partial[data-partial="components/media"] > section > .area-content > * p:last-child, .partial[data-partial^="components/media/"] > section > .area-content > * p:last-child, .partial[data-partial="components/post-list/post"] > section > .area-content > * blockquote:last-child, .partial[data-partial="components/media"] > section > .area-content > * blockquote:last-child, .partial[data-partial^="components/media/"] > section > .area-content > * blockquote:last-child {
  margin-bottom: 0;
}
.partial[data-partial="components/post-list/post"] > section > header, .partial[data-partial="components/media"] > section > header, .partial[data-partial^="components/media/"] > section > header {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #333;
  box-shadow: inset 0 0px 20px 0 rgba(0, 0, 0, 0.6);
}
.partial[data-partial="components/post-list/post"] > section > header > div .headline, .partial[data-partial="components/media"] > section > header > div .headline, .partial[data-partial^="components/media/"] > section > header > div .headline, .partial[data-partial="components/post-list/post"] > section > header > div .subline, .partial[data-partial="components/media"] > section > header > div .subline, .partial[data-partial^="components/media/"] > section > header > div .subline {
  margin: 0;
  margin-bottom: 10px;
}
.partial[data-partial="components/post-list/post"] > section > header > div .headline:last-child, .partial[data-partial="components/media"] > section > header > div .headline:last-child, .partial[data-partial^="components/media/"] > section > header > div .headline:last-child, .partial[data-partial="components/post-list/post"] > section > header > div .subline:last-child, .partial[data-partial="components/media"] > section > header > div .subline:last-child, .partial[data-partial^="components/media/"] > section > header > div .subline:last-child {
  margin-bottom: 0;
}
.partial[data-partial="components/post-list/post"] > section > header > div .headline, .partial[data-partial="components/media"] > section > header > div .headline, .partial[data-partial^="components/media/"] > section > header > div .headline, .partial[data-partial="components/post-list/post"] > section > header > div .headline > *, .partial[data-partial="components/media"] > section > header > div .headline > *, .partial[data-partial^="components/media/"] > section > header > div .headline > *, .partial[data-partial="components/post-list/post"] > section > header > div .subline, .partial[data-partial="components/media"] > section > header > div .subline, .partial[data-partial^="components/media/"] > section > header > div .subline, .partial[data-partial="components/post-list/post"] > section > header > div .subline > *, .partial[data-partial="components/media"] > section > header > div .subline > *, .partial[data-partial^="components/media/"] > section > header > div .subline > * {
  color: #ffffff;
}
.partial[data-partial="components/post-list/post"] > section > header > div .headline, .partial[data-partial="components/media"] > section > header > div .headline, .partial[data-partial^="components/media/"] > section > header > div .headline {
  font-size: 18px;
}
.partial[data-partial="components/post-list/post"] > section > header > div .subline, .partial[data-partial="components/media"] > section > header > div .subline, .partial[data-partial^="components/media/"] > section > header > div .subline {
  font-size: 14px;
}
.partial[data-partial="components/post-list/post"] > section > .area-content, .partial[data-partial="components/media"] > section > .area-content, .partial[data-partial^="components/media/"] > section > .area-content {
  position: relative;
  z-index: 10;
}

.partial[data-partial="components/sidebar/menu"], .partial[data-partial="components/sidebar/post-list"] {
  margin: 0 20px;
  margin-top: 15px;
}
.partial[data-partial="components/sidebar/menu"]:after, .partial[data-partial="components/sidebar/post-list"]:after, .partial[data-partial="components/sidebar/menu"]:before, .partial[data-partial="components/sidebar/post-list"]:before {
  display: block;
  content: "";
  clear: both;
}
.partial[data-partial="components/sidebar/menu"] > header, .partial[data-partial="components/sidebar/post-list"] > header, .partial[data-partial="components/sidebar/menu"] > ul, .partial[data-partial="components/sidebar/post-list"] > ul {
  padding: 0;
}
.partial[data-partial="components/sidebar/menu"] > header h1, .partial[data-partial="components/sidebar/post-list"] > header h1, .partial[data-partial="components/sidebar/menu"] > header h2, .partial[data-partial="components/sidebar/post-list"] > header h2, .partial[data-partial="components/sidebar/menu"] > header h3, .partial[data-partial="components/sidebar/post-list"] > header h3 {
  margin: 0;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  color: #333333;
}
.partial[data-partial="components/sidebar/menu"] > header h1:last-child, .partial[data-partial="components/sidebar/post-list"] > header h1:last-child, .partial[data-partial="components/sidebar/menu"] > header h2:last-child, .partial[data-partial="components/sidebar/post-list"] > header h2:last-child, .partial[data-partial="components/sidebar/menu"] > header h3:last-child, .partial[data-partial="components/sidebar/post-list"] > header h3:last-child {
  border-bottom: solid #cccccc 1px;
  margin-bottom: 10px;
}
.partial[data-partial="components/sidebar/menu"] > ul, .partial[data-partial="components/sidebar/post-list"] > ul {
  list-style: none;
  margin: 0;
  margin-bottom: 10px;
}
.partial[data-partial="components/sidebar/menu"] > ul > li, .partial[data-partial="components/sidebar/post-list"] > ul > li {
  margin-top: 10px;
}
.partial[data-partial="components/sidebar/menu"] > ul > li:first-child, .partial[data-partial="components/sidebar/post-list"] > ul > li:first-child {
  margin-top: 0;
}
.partial[data-partial="components/sidebar/menu"] > ul > li > a, .partial[data-partial="components/sidebar/post-list"] > ul > li > a {
  font-size: 14px;
  text-decoration: none;
  color: #555555;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
}
.partial[data-partial="components/sidebar/menu"] > ul > li > a:hover, .partial[data-partial="components/sidebar/post-list"] > ul > li > a:hover {
  color: #000000;
}
@media (min-width: 1200px) {
  .partial[data-partial="components/sidebar/menu"], .partial[data-partial="components/sidebar/post-list"] {
    margin-left: 20px;
  }
}

.partial[data-partial="components/sidebar/post-list"]:after, .partial[data-partial="components/sidebar/post-list"]:before {
  display: block;
  content: "";
  clear: both;
}
@media (min-width: 992px) {
  .partial[data-partial="components/sidebar/post-list"] ul li {
    margin-top: 6px;
  }
  .partial[data-partial="components/sidebar/post-list"] ul li.date {
    font-weight: bold;
    margin-bottom: 12px;
  }
  .partial[data-partial="components/sidebar/post-list"] ul li:first-child {
    margin-top: 0;
  }
}

.partial[data-partial="components/post-list/post"] > section > .area-content .partial[data-partial="components/media"], .partial[data-partial="components/media"] > section > .area-content .partial[data-partial="components/media"], .partial[data-partial^="components/media/"] > section > .area-content .partial[data-partial="components/media"], .partial[data-partial="components/post-list/post"] > section > .area-content .partial[data-partial^="components/media/"], .partial[data-partial="components/media"] > section > .area-content .partial[data-partial^="components/media/"], .partial[data-partial^="components/media/"] > section > .area-content .partial[data-partial^="components/media/"] {
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin: 20px 0;
}
.partial[data-partial="components/post-list/post"] > section > .area-content .partial[data-partial="components/media"]:first-child, .partial[data-partial="components/media"] > section > .area-content .partial[data-partial="components/media"]:first-child, .partial[data-partial^="components/media/"] > section > .area-content .partial[data-partial="components/media"]:first-child, .partial[data-partial="components/post-list/post"] > section > .area-content .partial[data-partial^="components/media/"]:first-child, .partial[data-partial="components/media"] > section > .area-content .partial[data-partial^="components/media/"]:first-child, .partial[data-partial^="components/media/"] > section > .area-content .partial[data-partial^="components/media/"]:first-child {
  margin-top: 0;
}
.partial[data-partial="components/post-list/post"] > section > .area-content .partial[data-partial="components/media"]:last-child, .partial[data-partial="components/media"] > section > .area-content .partial[data-partial="components/media"]:last-child, .partial[data-partial^="components/media/"] > section > .area-content .partial[data-partial="components/media"]:last-child, .partial[data-partial="components/post-list/post"] > section > .area-content .partial[data-partial^="components/media/"]:last-child, .partial[data-partial="components/media"] > section > .area-content .partial[data-partial^="components/media/"]:last-child, .partial[data-partial^="components/media/"] > section > .area-content .partial[data-partial^="components/media/"]:last-child {
  margin-bottom: 0;
}
.partial[data-partial="components/media"] > header, .partial[data-partial^="components/media/"] > header {
  margin: 0px 20px;
  margin-bottom: 20px;
}
.partial[data-partial="components/media"] > header .headline, .partial[data-partial="components/media"] > header .subline, .partial[data-partial^="components/media/"] > header .headline, .partial[data-partial^="components/media/"] > header .subline {
  margin: 10px 0;
}
.partial[data-partial="components/media"] > header .headline:first-child, .partial[data-partial="components/media"] > header .subline:first-child, .partial[data-partial^="components/media/"] > header .headline:first-child, .partial[data-partial^="components/media/"] > header .subline:first-child {
  margin-top: 0;
}
.partial[data-partial="components/media"] > header .headline:last-child, .partial[data-partial="components/media"] > header .subline:last-child, .partial[data-partial^="components/media/"] > header .headline:last-child, .partial[data-partial^="components/media/"] > header .subline:last-child {
  margin-bottom: 0;
}
.partial[data-partial="components/media"] > header .headline, .partial[data-partial^="components/media/"] > header .headline {
  font-size: 18px;
  color: #333333;
}
.partial[data-partial="components/media"] > header .subline, .partial[data-partial^="components/media/"] > header .subline {
  font-size: 14px;
  color: #888888;
}

.partial[data-partial="components/post-list/post"] > section > .area-content .partial[data-partial="components/media/video"] > div, .partial[data-partial="components/media"] > section > .area-content .partial[data-partial="components/media/video"] > div, .partial[data-partial^="components/media/"] > section > .area-content .partial[data-partial="components/media/video"] > div {
  margin: 0 20px;
  border: solid #cccccc 1px;
  border-radius: 3px;
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.partial[data-partial="components/media/video"] > div {
  position: relative;
}
.partial[data-partial="components/media/video"] > div:before {
  content: '';
  display: block;
  padding-top: 56.25%;
}
.partial[data-partial="components/media/video"] > div video, .partial[data-partial="components/media/video"] > div iframe {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.partial[data-partial="components/post-list/post"] > section > .area-content .partial[data-partial="components/media/image"] > div, .partial[data-partial="components/media"] > section > .area-content .partial[data-partial="components/media/image"] > div, .partial[data-partial^="components/media/"] > section > .area-content .partial[data-partial="components/media/image"] > div {
  margin: 0 20px;
  border: solid #cccccc 1px;
  border-radius: 3px;
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.partial[data-partial="components/media/image"] > div a {
  display: block;
}
.partial[data-partial="components/media/image"] > div a picture, .partial[data-partial="components/media/image"] > div a img {
  display: block;
}

.partial[data-partial="components/media/code"] > input {
  display: none;
}

.partial[data-partial="components/post-list/post"] > section > .area-content .partial[data-partial="components/media/slider"], .partial[data-partial="components/media"] > section > .area-content .partial[data-partial="components/media/slider"], .partial[data-partial^="components/media/"] > section > .area-content .partial[data-partial="components/media/slider"] {
  margin: 0 20px;
  border: solid #cccccc 1px;
  border-radius: 3px;
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.partial[data-partial="components/slider"] {
  position: relative;
}
.partial[data-partial="components/post-list/post"] > section > .area-content .partial[data-partial="components/slider"] > div, .partial[data-partial="components/media"] > section > .area-content .partial[data-partial="components/slider"] > div, .partial[data-partial^="components/media/"] > section > .area-content .partial[data-partial="components/slider"] > div {
  margin: 20px;
  border: solid #cccccc 1px;
  border-radius: 3px;
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.partial[data-partial="components/slider"]:not(.slick-initialized) > [data-partial="components/slider/slide"] {
  top: 0;
  position: absolute;
  visibility: hidden;
}
.partial[data-partial="components/slider"]:not(.slick-initialized) > [data-partial="components/slider/slide"]:first-child {
  position: relative;
  visibility: visible;
}

[class^="coma-theme-icon-"], [class*=" coma-theme-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'coma-theme-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.coma-theme-icon-unfullscreen:before {
  content: "\e902";
}

.coma-theme-icon-fullscreen:before {
  content: "\e900";
}

.coma-theme-icon-arrow_left:before {
  content: "\1f31e";
}

.coma-theme-icon-arrow_right:before {
  content: "\e901";
}

.scroll-view {
  transition: opacity .35s ease;
}

html, body {
  margin: 0;
  padding: 0;
}

[class*="grid-col-"] {
  box-sizing: border-box;
  padding-left: 6px;
  padding-right: 6px;
}

.grid-wrapper {
  margin: 0 auto;
  overflow: hidden;
  max-width: 1200px;
}
.grid-wrapper:after, .grid-wrapper:before {
  display: block;
  content: "";
  clear: both;
}

.grid-row {
  margin-left: -6px;
  margin-right: -6px;
}
.grid-row:after, .grid-row:before {
  display: block;
  content: "";
  clear: both;
}

@media (min-width: 480px) {
  .grid-col-xs-1 {
    float: left;
    width: 8.33333%;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .grid-col-offset-xs-1 {
    margin-left: 8.33333%;
  }
}
@media (min-width: 480px) {
  .grid-col-xs-2 {
    float: left;
    width: 16.66667%;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .grid-col-offset-xs-2 {
    margin-left: 16.66667%;
  }
}
@media (min-width: 480px) {
  .grid-col-xs-3 {
    float: left;
    width: 25%;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .grid-col-offset-xs-3 {
    margin-left: 25%;
  }
}
@media (min-width: 480px) {
  .grid-col-xs-4 {
    float: left;
    width: 33.33333%;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .grid-col-offset-xs-4 {
    margin-left: 33.33333%;
  }
}
@media (min-width: 480px) {
  .grid-col-xs-5 {
    float: left;
    width: 41.66667%;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .grid-col-offset-xs-5 {
    margin-left: 41.66667%;
  }
}
@media (min-width: 480px) {
  .grid-col-xs-6 {
    float: left;
    width: 50%;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .grid-col-offset-xs-6 {
    margin-left: 50%;
  }
}
@media (min-width: 480px) {
  .grid-col-xs-7 {
    float: left;
    width: 58.33333%;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .grid-col-offset-xs-7 {
    margin-left: 58.33333%;
  }
}
@media (min-width: 480px) {
  .grid-col-xs-8 {
    float: left;
    width: 66.66667%;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .grid-col-offset-xs-8 {
    margin-left: 66.66667%;
  }
}
@media (min-width: 480px) {
  .grid-col-xs-9 {
    float: left;
    width: 75%;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .grid-col-offset-xs-9 {
    margin-left: 75%;
  }
}
@media (min-width: 480px) {
  .grid-col-xs-10 {
    float: left;
    width: 83.33333%;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .grid-col-offset-xs-10 {
    margin-left: 83.33333%;
  }
}
@media (min-width: 480px) {
  .grid-col-xs-11 {
    float: left;
    width: 91.66667%;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .grid-col-offset-xs-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 480px) {
  .grid-col-xs-12 {
    float: left;
    width: 100%;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .grid-col-offset-xs-12 {
    margin-left: 100%;
  }
}
@media (min-width: 480px) {
  .grid-col-xs-left {
    float: left;
  }

  .grid-col-xs-right {
    float: right;
  }

  .visible-xs {
    display: block;
  }

  .hidden-xs {
    display: none;
  }

  .visible-sm {
    display: none;
  }

  .visible-md {
    display: none;
  }

  .visible-lg {
    display: none;
  }
}
@media (min-width: 768px) {
  .grid-col-sm-1 {
    float: left;
    width: 8.33333%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .grid-col-offset-sm-1 {
    margin-left: 8.33333%;
  }
}
@media (min-width: 768px) {
  .grid-col-sm-2 {
    float: left;
    width: 16.66667%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .grid-col-offset-sm-2 {
    margin-left: 16.66667%;
  }
}
@media (min-width: 768px) {
  .grid-col-sm-3 {
    float: left;
    width: 25%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .grid-col-offset-sm-3 {
    margin-left: 25%;
  }
}
@media (min-width: 768px) {
  .grid-col-sm-4 {
    float: left;
    width: 33.33333%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .grid-col-offset-sm-4 {
    margin-left: 33.33333%;
  }
}
@media (min-width: 768px) {
  .grid-col-sm-5 {
    float: left;
    width: 41.66667%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .grid-col-offset-sm-5 {
    margin-left: 41.66667%;
  }
}
@media (min-width: 768px) {
  .grid-col-sm-6 {
    float: left;
    width: 50%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .grid-col-offset-sm-6 {
    margin-left: 50%;
  }
}
@media (min-width: 768px) {
  .grid-col-sm-7 {
    float: left;
    width: 58.33333%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .grid-col-offset-sm-7 {
    margin-left: 58.33333%;
  }
}
@media (min-width: 768px) {
  .grid-col-sm-8 {
    float: left;
    width: 66.66667%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .grid-col-offset-sm-8 {
    margin-left: 66.66667%;
  }
}
@media (min-width: 768px) {
  .grid-col-sm-9 {
    float: left;
    width: 75%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .grid-col-offset-sm-9 {
    margin-left: 75%;
  }
}
@media (min-width: 768px) {
  .grid-col-sm-10 {
    float: left;
    width: 83.33333%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .grid-col-offset-sm-10 {
    margin-left: 83.33333%;
  }
}
@media (min-width: 768px) {
  .grid-col-sm-11 {
    float: left;
    width: 91.66667%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .grid-col-offset-sm-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 768px) {
  .grid-col-sm-12 {
    float: left;
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .grid-col-offset-sm-12 {
    margin-left: 100%;
  }
}
@media (min-width: 768px) {
  .grid-col-sm-left {
    float: left;
  }

  .grid-col-sm-right {
    float: right;
  }

  .visible-sm {
    display: block;
  }

  .hidden-sm {
    display: none;
  }

  .visible-xs {
    display: none;
  }

  .visible-md {
    display: none;
  }

  .visible-lg {
    display: none;
  }
}
@media (min-width: 992px) {
  .grid-col-md-1 {
    float: left;
    width: 8.33333%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .grid-col-offset-md-1 {
    margin-left: 8.33333%;
  }
}
@media (min-width: 992px) {
  .grid-col-md-2 {
    float: left;
    width: 16.66667%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .grid-col-offset-md-2 {
    margin-left: 16.66667%;
  }
}
@media (min-width: 992px) {
  .grid-col-md-3 {
    float: left;
    width: 25%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .grid-col-offset-md-3 {
    margin-left: 25%;
  }
}
@media (min-width: 992px) {
  .grid-col-md-4 {
    float: left;
    width: 33.33333%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .grid-col-offset-md-4 {
    margin-left: 33.33333%;
  }
}
@media (min-width: 992px) {
  .grid-col-md-5 {
    float: left;
    width: 41.66667%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .grid-col-offset-md-5 {
    margin-left: 41.66667%;
  }
}
@media (min-width: 992px) {
  .grid-col-md-6 {
    float: left;
    width: 50%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .grid-col-offset-md-6 {
    margin-left: 50%;
  }
}
@media (min-width: 992px) {
  .grid-col-md-7 {
    float: left;
    width: 58.33333%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .grid-col-offset-md-7 {
    margin-left: 58.33333%;
  }
}
@media (min-width: 992px) {
  .grid-col-md-8 {
    float: left;
    width: 66.66667%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .grid-col-offset-md-8 {
    margin-left: 66.66667%;
  }
}
@media (min-width: 992px) {
  .grid-col-md-9 {
    float: left;
    width: 75%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .grid-col-offset-md-9 {
    margin-left: 75%;
  }
}
@media (min-width: 992px) {
  .grid-col-md-10 {
    float: left;
    width: 83.33333%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .grid-col-offset-md-10 {
    margin-left: 83.33333%;
  }
}
@media (min-width: 992px) {
  .grid-col-md-11 {
    float: left;
    width: 91.66667%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .grid-col-offset-md-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 992px) {
  .grid-col-md-12 {
    float: left;
    width: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .grid-col-offset-md-12 {
    margin-left: 100%;
  }
}
@media (min-width: 992px) {
  .grid-col-md-left {
    float: left;
  }

  .grid-col-md-right {
    float: right;
  }

  .visible-md {
    display: block;
  }

  .hidden-md {
    display: none;
  }

  .visible-xs {
    display: none;
  }

  .visible-sm {
    display: none;
  }

  .visible-lg {
    display: none;
  }
}
@media (min-width: 1200px) {
  .grid-col-lg-1 {
    float: left;
    width: 8.33333%;
  }

  .grid-col-offset-lg-1 {
    margin-left: 8.33333%;
  }

  .grid-col-lg-2 {
    float: left;
    width: 16.66667%;
  }

  .grid-col-offset-lg-2 {
    margin-left: 16.66667%;
  }

  .grid-col-lg-3 {
    float: left;
    width: 25%;
  }

  .grid-col-offset-lg-3 {
    margin-left: 25%;
  }

  .grid-col-lg-4 {
    float: left;
    width: 33.33333%;
  }

  .grid-col-offset-lg-4 {
    margin-left: 33.33333%;
  }

  .grid-col-lg-5 {
    float: left;
    width: 41.66667%;
  }

  .grid-col-offset-lg-5 {
    margin-left: 41.66667%;
  }

  .grid-col-lg-6 {
    float: left;
    width: 50%;
  }

  .grid-col-offset-lg-6 {
    margin-left: 50%;
  }

  .grid-col-lg-7 {
    float: left;
    width: 58.33333%;
  }

  .grid-col-offset-lg-7 {
    margin-left: 58.33333%;
  }

  .grid-col-lg-8 {
    float: left;
    width: 66.66667%;
  }

  .grid-col-offset-lg-8 {
    margin-left: 66.66667%;
  }

  .grid-col-lg-9 {
    float: left;
    width: 75%;
  }

  .grid-col-offset-lg-9 {
    margin-left: 75%;
  }

  .grid-col-lg-10 {
    float: left;
    width: 83.33333%;
  }

  .grid-col-offset-lg-10 {
    margin-left: 83.33333%;
  }

  .grid-col-lg-11 {
    float: left;
    width: 91.66667%;
  }

  .grid-col-offset-lg-11 {
    margin-left: 91.66667%;
  }

  .grid-col-lg-12 {
    float: left;
    width: 100%;
  }

  .grid-col-offset-lg-12 {
    margin-left: 100%;
  }

  .grid-col-lg-left {
    float: left;
  }

  .grid-col-lg-right {
    float: right;
  }

  .visible-lg {
    display: block;
  }

  .hidden-lg {
    display: none;
  }

  .visible-xs {
    display: none;
  }

  .visible-sm {
    display: none;
  }

  .visible-md {
    display: none;
  }
}
body.coma-edit-mode .grid-wrapper {
  overflow: visible;
}

body.admin-bar .partial[data-partial="components/header/navigation"] > div {
  top: 32px;
}
@media screen and (max-width: 782px) {
  body.admin-bar .partial[data-partial="components/header/navigation"] > div {
    top: 46px;
  }
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

body {
  background-color: #EEEEEE;
  font-family: "Open Sans", sans-serif;
}
html.font-loading body, html.font-loading body *, html.font-loading body a, html.font-loading body h1, html.font-loading body h2 {
  color: transparent !important;
}
body > div {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
body > div a {
  text-decoration: none;
}
body > div h1, body > div h2, body > div h3, body > div h4, body > div h5, body > div h6 {
  font-weight: 600;
}
@media (min-width: 992px) {
  body > div > main {
    padding-top: 120px;
  }
}
@media (min-width: 1200px) {
  body > div > aside {
    padding-top: 120px;
  }
}
body > div > main > * {
  margin-bottom: 20px;
}
body > div > main > *:last-child {
  margin-bottom: 0;
}
body > div > aside > * {
  margin-bottom: 20px;
}
body > div > aside > *:last-child {
  margin-bottom: 0;
}
