@charset "UTF-8";
/*
Theme Name: CoMa (Content-Manager) Template
Theme URI: https://bitbucket.org/lammpee/wordpress-content-manager-theme
Author: Thorn-Welf Walli
Author URI: https://lammpee.de/
Description: Example theme for CoMa.
Version: 1.0
*/
body:after {
  display: none !important;
}

picture {
  position: relative;
  display: block;
}
picture.svg {
  position: relative;
  display: block;
  width: 100%;
  vertical-align: middle;
  padding-top: 100%;
}
picture.svg svg {
  position: absolute;
  overflow: visible !important;
  top: 0;
}
picture.svg svg image {
  width: 100%;
  height: auto;
}
picture > source {
  position: relative;
  display: none;
}
picture > img {
  display: block;
  margin: auto;
  width: 100%;
}
.js-modal-active .partial[data-partial*="layouts/modal"] .mejs-container + picture > img, .js-modal-active .partial[data-partial*="layouts/modal"] video + picture > img {
  position: fixed;
  top: 50%;
  left: 50%;
  width: auto !important;
  height: auto !important;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
}
picture > *:last-child {
  display: block;
}
picture > .last-child {
  display: block;
}

picture.align-left-default > img, picture.align-left-default > svg {
  width: auto;
  float: left;
}

picture.align-right-default > img, picture.align-right-default > svg {
  width: auto;
  float: right;
}

picture.align-horizontal-center-default {
  overflow: hidden;
}
picture.align-horizontal-center-default > img, picture.align-horizontal-center-default > svg {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: 100%;
}

picture.align-vertical-center-default {
  overflow: hidden;
}
picture.align-vertical-center-default > img, picture.align-vertical-center-default > svg {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: auto;
}

/* needs a height dimension from outerElement e.g. height: 50%;*/
picture.align-center-default {
  overflow: hidden;
}
picture.align-center-default > img, picture.align-center-default > svg {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  min-height: 100%;
}

picture.scale-default {
  width: 100%;
  margin-left: 0;
}
picture.scale-default > svg {
  width: 100%;
  height: 100%;
}
picture.scale-default > img {
  float: none;
  width: 100%;
  height: auto;
  margin-left: 0;
}

body:after {
  content: "default" !important;
}

@media (min-width: 480px) {
  picture.align-left-xs > img, picture.align-left-xs > svg {
    width: auto;
    float: left;
  }

  picture.align-right-xs > img, picture.align-right-xs > svg {
    width: auto;
    float: right;
  }

  picture.align-horizontal-center-xs {
    overflow: hidden;
  }
  picture.align-horizontal-center-xs > img, picture.align-horizontal-center-xs > svg {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: 100%;
  }

  picture.align-vertical-center-xs {
    overflow: hidden;
  }
  picture.align-vertical-center-xs > img, picture.align-vertical-center-xs > svg {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: auto;
  }

  /* needs a height dimension from outerElement e.g. height: 50%;*/
  picture.align-center-xs {
    overflow: hidden;
  }
  picture.align-center-xs > img, picture.align-center-xs > svg {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    min-height: 100%;
  }

  picture.scale-xs {
    width: 100%;
    margin-left: 0;
  }
  picture.scale-xs > svg {
    width: 100%;
    height: 100%;
  }
  picture.scale-xs > img {
    float: none;
    width: 100%;
    height: auto;
    margin-left: 0;
  }

  body:after {
    content: "xs" !important;
  }
}
@media (min-width: 768px) {
  picture.align-left-sm > img, picture.align-left-sm > svg {
    width: auto;
    float: left;
  }

  picture.align-right-sm > img, picture.align-right-sm > svg {
    width: auto;
    float: right;
  }

  picture.align-horizontal-center-sm {
    overflow: hidden;
  }
  picture.align-horizontal-center-sm > img, picture.align-horizontal-center-sm > svg {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: 100%;
  }

  picture.align-vertical-center-sm {
    overflow: hidden;
  }
  picture.align-vertical-center-sm > img, picture.align-vertical-center-sm > svg {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: auto;
  }

  /* needs a height dimension from outerElement e.g. height: 50%;*/
  picture.align-center-sm {
    overflow: hidden;
  }
  picture.align-center-sm > img, picture.align-center-sm > svg {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    min-height: 100%;
  }

  picture.scale-sm {
    width: 100%;
    margin-left: 0;
  }
  picture.scale-sm > svg {
    width: 100%;
    height: 100%;
  }
  picture.scale-sm > img {
    float: none;
    width: 100%;
    height: auto;
    margin-left: 0;
  }

  body:after {
    content: "sm" !important;
  }
}
@media (min-width: 992px) {
  picture.align-left-md > img, picture.align-left-md > svg {
    width: auto;
    float: left;
  }

  picture.align-right-md > img, picture.align-right-md > svg {
    width: auto;
    float: right;
  }

  picture.align-horizontal-center-md {
    overflow: hidden;
  }
  picture.align-horizontal-center-md > img, picture.align-horizontal-center-md > svg {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: 100%;
  }

  picture.align-vertical-center-md {
    overflow: hidden;
  }
  picture.align-vertical-center-md > img, picture.align-vertical-center-md > svg {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: auto;
  }

  /* needs a height dimension from outerElement e.g. height: 50%;*/
  picture.align-center-md {
    overflow: hidden;
  }
  picture.align-center-md > img, picture.align-center-md > svg {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    min-height: 100%;
  }

  picture.scale-md {
    width: 100%;
    margin-left: 0;
  }
  picture.scale-md > svg {
    width: 100%;
    height: 100%;
  }
  picture.scale-md > img {
    float: none;
    width: 100%;
    height: auto;
    margin-left: 0;
  }

  body:after {
    content: "md" !important;
  }
}
@media (min-width: 1200px) {
  picture.align-left-lg > img, picture.align-left-lg > svg {
    width: auto;
    float: left;
  }

  picture.align-right-lg > img, picture.align-right-lg > svg {
    width: auto;
    float: right;
  }

  picture.align-horizontal-center-lg {
    overflow: hidden;
  }
  picture.align-horizontal-center-lg > img, picture.align-horizontal-center-lg > svg {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: 100%;
  }

  picture.align-vertical-center-lg {
    overflow: hidden;
  }
  picture.align-vertical-center-lg > img, picture.align-vertical-center-lg > svg {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: auto;
  }

  /* needs a height dimension from outerElement e.g. height: 50%;*/
  picture.align-center-lg {
    overflow: hidden;
  }
  picture.align-center-lg > img, picture.align-center-lg > svg {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    min-height: 100%;
  }

  picture.scale-lg {
    width: 100%;
    margin-left: 0;
  }
  picture.scale-lg > svg {
    width: 100%;
    height: 100%;
  }
  picture.scale-lg > img {
    float: none;
    width: 100%;
    height: auto;
    margin-left: 0;
  }

  body:after {
    content: "lg" !important;
  }
}
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  background: none;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #fff;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #fff;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}
/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #fff;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #999;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

.token.function {
  color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
  color: #e90;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

pre.line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}

pre.line-numbers > code {
  position: relative;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em;
  /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 1px solid #999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}

.partial[data-partial="elements/touch-button"], .container-resizer.container-resizer-full > .container-resizer-helper, .partial[data-partial^="elements/touch-button"] {
  display: block;
  cursor: pointer;
  user-select: none;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.6);
  position: relative;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.6);
}
.partial[data-partial="elements/touch-button"].disabled, .container-resizer.container-resizer-full > .disabled.container-resizer-helper, .partial[data-partial^="elements/touch-button"].disabled {
  pointer-events: none;
}
.partial[data-partial="elements/touch-button"].selected, input:checked + .partial[data-partial="elements/touch-button/menu"], .container-resizer.container-resizer-full > .selected.container-resizer-helper, .partial[data-partial="elements/touch-button"]:hover, .container-resizer.container-resizer-full > .container-resizer-helper:hover, .partial[data-partial^="elements/touch-button"].selected, .partial[data-partial^="elements/touch-button"]:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.partial[data-partial="elements/touch-button"] > span, .container-resizer.container-resizer-full > .container-resizer-helper > span, .partial[data-partial^="elements/touch-button"] > span {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  color: #ffffff;
  width: 42px;
  height: 42px;
  transform: translate(-50%, -50%);
}

.partial[data-partial="elements/touch-button/menu"] > span {
  width: 28px;
  height: 25px;
}
.partial[data-partial="elements/touch-button/menu"] > span span:before, .partial[data-partial="elements/touch-button/menu"] > span span:after, .partial[data-partial="elements/touch-button/menu"] > span:after, .partial[data-partial="elements/touch-button/menu"] > span:before {
  content: "";
  display: block;
  position: absolute;
  background-color: #ffffff;
  border-radius: 1px;
  height: 5px;
  width: 28px;
  transition-duration: .35s;
  transition-timing-function: ease;
}
.partial[data-partial="elements/touch-button/menu"] > span:before {
  opacity: 1;
  top: 0;
  transition-property: opacity;
}
.partial[data-partial="elements/touch-button/menu"] > span span {
  transition-property: opacity;
}
.partial[data-partial="elements/touch-button/menu"] > span span:before, .partial[data-partial="elements/touch-button/menu"] > span span:after {
  backface-visibility: hidden;
  transform-origin: center;
  top: 10px;
}
.partial[data-partial="elements/touch-button/menu"] > span:after {
  opacity: 1;
  top: 20px;
  transition-property: opacity;
}

input:checked + .partial[data-partial="elements/touch-button/menu"] > span > span:before {
  transform: rotate(-45deg) scale(1.3, 1);
}
input:checked + .partial[data-partial="elements/touch-button/menu"] > span > span:after {
  transform: rotate(45deg) scale(1.3, 1);
}
input:checked + .partial[data-partial="elements/touch-button/menu"] > span:before, input:checked + .partial[data-partial="elements/touch-button/menu"] > span:after {
  opacity: 0;
}

.partial[data-partial="elements/touch-button/icon"] > span:before, .container-resizer.container-resizer-full > .container-resizer-helper > span:before {
  font-family: "coma-theme-icon";
  display: block;
  padding: 0;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  color: #ffffff;
}

.partial[data-partial="components/header/navigation"] ul li a {
  color: #555555;
}
.partial[data-partial="components/header/navigation"] ul li a:hover {
  color: #000000;
}

.partial[data-partial="components/footer"] {
  margin-top: 20px;
  padding: 0 5px;
}
.partial[data-partial="components/footer"] > div {
  border-top: solid #cccccc 1px;
}
.partial[data-partial="components/footer"] > div > div {
  padding-left: 0;
  padding-right: 0;
}
.partial[data-partial="components/footer"] > div > div > * {
  margin: 10px 20px;
}
@media (min-width: 992px) {
  .partial[data-partial="components/footer"] > div > div > * {
    margin: 10px 20px;
  }
}
.partial[data-partial="components/footer"] > div > div > p {
  font-size: 14px;
  color: #888888;
  text-align: right;
}

.partial[data-partial="components/footer/navigation"] ul li a {
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
  color: #555555;
}
.partial[data-partial="components/footer/navigation"] ul li a:hover {
  color: #000000;
}
.partial[data-partial="components/footer/navigation"] ul li.selected a {
  color: #000000;
}

body:not(.coma-edit-mode) .partial[data-partial="components/post-list/post"][data-scroll-view], body:not(.coma-edit-mode) .partial[data-partial="components/post-list/post"].scroll-view {
  opacity: 0.2;
  transition: transform .7s ease, opacity .5s .2s ease;
}
body:not(.coma-edit-mode) .partial[data-partial="components/post-list/post"][data-scroll-view].in-view, body:not(.coma-edit-mode) .partial[data-partial="components/post-list/post"].scroll-view.in-view {
  opacity: 1;
}
.partial[data-partial="components/post-list/post"] p, .partial[data-partial="components/post-list/post"] blockquote {
  line-height: 1.6;
  font-size: 16px;
}
.partial[data-partial="components/post-list/post"] blockquote {
  margin: 20px 40px;
  border-left: solid #555555 4px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.partial[data-partial="components/post-list/post"] blockquote b, .partial[data-partial="components/post-list/post"] blockquote strong {
  font-weight: 600;
}

.partial[data-partial="components/media"] > header .headline, .partial[data-partial="components/media/code"] .preview > header .headline, .partial[data-partial="components/media"] > header .subline, .partial[data-partial="components/media/code"] .preview > header .subline {
  margin: 10px 0;
}
.partial[data-partial="components/media"] > header .headline:first-child, .partial[data-partial="components/media/code"] .preview > header .headline:first-child, .partial[data-partial="components/media"] > header .subline:first-child, .partial[data-partial="components/media/code"] .preview > header .subline:first-child {
  margin-top: 0;
}
.partial[data-partial="components/media"] > header .headline:last-child, .partial[data-partial="components/media/code"] .preview > header .headline:last-child, .partial[data-partial="components/media"] > header .subline:last-child, .partial[data-partial="components/media/code"] .preview > header .subline:last-child {
  margin-bottom: 0;
}
.partial[data-partial="components/media"] > header .headline, .partial[data-partial="components/media/code"] .preview > header .headline {
  font-size: 18px;
  color: #333333;
}
.partial[data-partial="components/media"] > header .subline, .partial[data-partial="components/media/code"] .preview > header .subline {
  font-size: 14px;
  color: #888888;
}

body:not(.coma-edit-mode) .partial[data-partial="components/media/code"]:not(.code-init) > .code:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 10;
  content: '';
  background: rgba(255, 255, 255, 0.8);
  background-image: url("../../../wp-admin/images/spinner-2x.gif");
  background-repeat: no-repeat;
  background-position: center;
}
.partial[data-partial="components/media/code"]:before {
  float: right;
  color: #666666;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  font-weight: 300;
  text-transform: uppercase;
  content: attr(data-code);
  font-size: 18px;
  line-height: 1.2;
}
.partial[data-partial="components/media/code"] > header, .partial[data-partial="components/media/code"]:before {
  margin: 0px 20px;
  margin-bottom: 20px;
}
.partial[data-partial="components/media/code"] .preview > header {
  margin: 20px 20px;
}
.partial[data-partial="components/media/code"].closed > .code {
  max-height: none;
}
.partial[data-partial="components/media/code"] > .code {
  clear: both;
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.1);
  border: solid #ccc 1px;
  border-radius: 3px;
  box-sizing: content-box;
  position: relative;
  min-height: 40px;
  font-size: 12px;
  line-height: 1;
}
.partial[data-partial="components/media/code"] > .code > pre {
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;
  height: 100%;
}
.partial[data-partial="components/media/code"] > .code > .expander {
  display: none;
}
.partial[data-partial="components/media/code"] > input:not(:checked) + .code {
  max-height: 240px;
  overflow: hidden;
}
.partial[data-partial="components/media/code"] > input:not(:checked) + .code > .container-resizer-helper {
  display: none;
}
.partial[data-partial="components/media/code"] > input:not(:checked) + .code:hover > .expander {
  opacity: 0.8;
  background-color: rgba(0, 0, 0, 0.6);
}
.partial[data-partial="components/media/code"] > input:not(:checked) + .code > .expander {
  display: block;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 20px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0.8;
  transition: opacity .35s ease, background-color .35s ease, box-shadow .35s ease;
}
.partial[data-partial="components/media/code"] > input:not(:checked) + .code > .expander span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  color: #ffffff;
  opacity: 0.8;
}
.partial[data-partial="components/media/code"] > input:checked + .code {
  max-height: none;
}
.partial[data-partial="components/media/code"] > input:checked + .code > .expander {
  display: none;
}
.partial[data-partial="components/media/code"] > .preview > h3:before {
  content: '';
  border-top: solid #cccccc 3px;
  width: 100%;
  display: block;
  margin: 10px 0;
  margin-bottom: 15px;
}
.partial[data-partial="components/media/code"] > .preview > div {
  margin: 0 20px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.1);
  border: solid #ccc 1px;
}
.partial[data-partial="components/media/code"] > .code {
  margin: 20px;
  margin-bottom: 0;
}

.partial[data-partial="components/slider"], .partial[data-partial="components/slider"] * {
  outline: none;
}
.partial[data-partial="components/slider"] .slick-dots {
  position: absolute;
  bottom: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}
.partial[data-partial="components/slider"] .slick-dots li {
  display: inline-block;
}
.partial[data-partial="components/slider"] .slick-dots li button {
  outline: none;
  border: none;
  background: white;
  width: 16px;
  height: 16px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  font-size: 0;
  margin: 0 5px;
  line-height: 1;
}
.partial[data-partial="components/slider"] .slick-dots li.slick-active button {
  background: #23282d;
}
.partial[data-partial="components/slider"] .slick-arrow {
  z-index: 100;
  position: absolute;
  top: 50%;
  border: none;
  background: rgba(35, 40, 45, 0.4);
  font-size: 0;
  margin-top: -30px;
  width: 48px;
  height: 60px;
  padding: 0;
}
.partial[data-partial="components/slider"] .slick-arrow:hover {
  background: rgba(35, 40, 45, 0.8);
}
.partial[data-partial="components/slider"] .slick-arrow:before {
  font-family: "coma-theme-icon";
  font-size: 16px;
  color: #ffffff;
}
.partial[data-partial="components/slider"] .slick-arrow.slick-prev {
  left: 20px;
}
.partial[data-partial="components/slider"] .slick-arrow.slick-next {
  right: 20px;
}
.partial[data-partial="components/slider"] .slick-track {
  outline: none;
}

.partial[data-partial="components/slider/slide"] {
  margin: 0;
  padding: 0;
  position: relative;
}
.partial[data-partial="components/slider/slide"] picture, .partial[data-partial="components/slider/slide"] img {
  display: block;
  backface-visibility: hidden;
}
.partial[data-partial="components/slider/slide"] figcaption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.75);
  width: 100%;
  padding: 15px;
}
.partial[data-partial="components/slider/slide"] figcaption h3, .partial[data-partial="components/slider/slide"] figcaption p {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
}
.partial[data-partial="components/slider/slide"] figcaption h3:last-child, .partial[data-partial="components/slider/slide"] figcaption p:last-child {
  margin-bottom: 0;
}
.partial[data-partial="components/slider/slide"] figcaption h3 {
  font-size: 18px;
}
.partial[data-partial="components/slider/slide"] figcaption p {
  font-size: 14px;
}

[class^="coma-theme-icon-"], [class*=" coma-theme-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'coma-theme-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.coma-theme-icon-unfullscreen:before {
  content: "\e902";
}

.coma-theme-icon-fullscreen:before {
  content: "\e900";
}

.coma-theme-icon-arrow_left:before, .partial[data-partial="components/slider"] .slick-arrow.slick-prev:before {
  content: "\1f31e";
}

.coma-theme-icon-arrow_right:before, .partial[data-partial="components/slider"] .slick-arrow.slick-next:before {
  content: "\e901";
}

html.container-resizer-fullscreen {
  overflow: hidden;
}

.container-resizer {
  position: relative;
}
.container-resizer.container-resizer-full {
  display: block;
  transform: none;
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100% !important;
  height: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
}
.container-resizer > .container-resizer-helper, .container-resizer.container-resizer-full > .container-resizer-helper {
  position: absolute;
  bottom: 0;
  right: 0;
}
html.container-resizer-fullscreen .container-resizer > .container-resizer-helper, html.container-resizer-fullscreen .container-resizer.container-resizer-full > .container-resizer-helper {
  bottom: 20px;
  left: 20px;
  right: auto;
}
.container-resizer > .container-resizer-helper span {
  display: block;
}
.container-resizer > .container-resizer-helper span:before {
  font-family: "coma-theme-icon";
  content: "";
}
.container-resizer:not(.container-resizer-full) > .container-resizer-helper span {
  border-top-left-radius: 3px;
  transition: background-color .35s ease;
  background: rgba(0, 0, 0, 0.4);
}
.container-resizer:not(.container-resizer-full) > .container-resizer-helper span:before {
  cursor: pointer;
  display: block;
  color: #ffffff;
  font-size: 16px;
  line-height: 1;
  padding: 5px 10px;
}
.container-resizer:not(.container-resizer-full) > .container-resizer-helper span:hover {
  background: rgba(0, 0, 0, 0.8);
}
.container-resizer.container-resizer-full > .container-resizer-helper span:before {
  content: "";
}

.scroll-view {
  transition: opacity .35s ease;
}

html, body {
  margin: 0;
  padding: 0;
}
