@mixin Component_Sidebar_PostList ($critical) {

  .partial[data-partial="components/sidebar/post-list"] {

    @extend .partial[data-partial="components/sidebar/menu"] !optional;

    @if $critical {

      @include clearfix();

      header {
      }

      @media (min-width: $screen-md-min) {

        ul {
          li {

            margin-top: 6px;
            &.date {
              font-weight: bold;
              margin-bottom: 12px;
            }

            &:first-child {
              margin-top: 0;
            }

          }
        }

      }

    } @else {

    }

  }

}