@mixin Component_Header_Navigation($critical) {

  .partial[data-partial="components/header/navigation"] {

    @if $critical {

      margin: 15px $offset-default;

      > input {
        display: none;
      }

      font-size: 16px;
      font-weight: 600;

      ul {

        @include clearfix();

        list-style: none;
        margin: 0;
        padding: 0;

        li {
          margin-bottom: 10px;
          a {

            display: block;
            text-decoration: none;

            padding: 10px;

            &:hover {
              background-color: $color-header-navigation-background-selected;
            }

          }

          &.selected {
          }

          >ul {
            margin: 10px 20px;

            li {
              a {
                font-size: 14px;
              }
            }
          }

        }

      }

      > .partial[data-partial="elements/touch-button/menu"] {
        display: none;
      }
      @media(max-width: $screen-sm-max) {

        > div {
          display: none;
        }
        > input:checked + .partial[data-partial="elements/touch-button/menu"] + div {
          display: block;
        }

        > .partial[data-partial="elements/touch-button/menu"] {

          display: block;

          position: fixed;
          bottom: 20px;
          right: 20px;

          z-index: 101;

        }

        > div {

          @include clearfix();

          overflow-y: auto;

          position: fixed;
          z-index: 100;

          top: 0;
          left: 0;
          bottom: 0;
          width: 30%;
          height: 100%;
          min-width: 192px;

          background-color: rgba(0, 0, 0, 0.8);

          font-size: 16px;

          >ul {

            >li {


              a {
                color: $color-header-mobile-navigation-default;
                &:hover {
                  background-color: $color-header-mobile-navigation-background-selected;
                  color: $color-header-mobile-navigation-selected;
                }
              }

              >a {
                padding: 10px;
                border-left: solid transparent 4px;
              }

              &.selected, li.selected {
                >a {
                  background-color: rgba(0, 0, 0, .4);
                  border-left-color: #cccccc;
                }
              }

              >ul {
                li {
                  a {
                    font-size: 14px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                  }
                  &.selected {
                  }
                }
              }

            }

          }
        }
      }

      @media(min-width: $screen-md-min) {

        > div {

          > ul {

            margin: 0 -10px;

            > li {

              a {
                text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
              }

              &.selected {

                > a {
                  color: #000000;

                }

              }

              ul {
                li {
                  &.selected {
                    a {
                      color: #000000;
                    }
                  }
                }
              }

            }

          }

        }
      }
    } @else {

      ul {

        li {

          a {

            color: $color-header-navigation-default;

            &:hover {
              color: $color-header-navigation-selected;
            }
          }

        }

      }

    }

  }

}