@mixin Component_PostList_Post($critical) {

  .partial[data-partial="components/post-list/post"] {

    @if $critical {

      border-radius: 3px;
      overflow: hidden;

      background-color: rgba(255, 255, 255, 1);
      transition: opacity .7s ease;

      box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.1);


      > header {

        position: relative;

        margin: 20px;
        margin-bottom: 20px;

        .headlines {

          @include clearfix();

          .headline, .subline {
            margin: 0;
            padding: 0;
            font-weight: 600;

            margin-bottom: 10px;
            &:last-child {
              margin-bottom: 0;
            }
          }

          .headline {
            font-size: 22px;

            color: $color-post-header-headline-default;
          }
          .subline {
            margin: 0;
            text-align: left;
            font-size: 18px;
            font-weight: 600;
            color: $color-post-header-subline-default;
          }

        }

        picture {
          margin: -20px;
          margin-bottom: 20px;

          border-radius: 3px 0 0 0;
        }

      }

      h1, h2, h3, h4 {
        margin: 20px;
        line-height: 1.2;
      }

      h1, h2 {
        font-size: 18px;
      }
      h3, h4 {
        font-size: 16px;
      }
      h4 {
        font-size: 14px;
      }

      p, blockquote {
        margin: 20px;
      }

      > p.info {

        @include clearfix();

        margin: 20px;

        .date {

          text-align: left;
          float: none;
          margin-top: 10px;
          font-size: 14px;

          color: $color-copy-dim;

        }
        .more-link {

          float: right;
          text-decoration: none;
          color: $color-link-default;

          font-weight: 600;

          &:hover {
            color: $color-link-selected-default;
          }

        }
      }




      > section {

        > header + .area-content > *:first-child {
          &:first-child {
            margin-top: 20px;
          }
        }

        > .area-content {
          > * {

            margin: 20px 0;

            &:first-child {
              margin-top: 0;
            }
            &:last-child {
              margin-bottom: 0;
            }

            p, blockquote {
              margin: 20px;
              &:first-child {
                margin-top: 0;
              }
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }

        position: static;
        overflow: hidden;

        margin: 0;
        margin-bottom: 20px;
        padding: 0;

        > header {

          margin-bottom: 20px;
          padding: 20px;

          background-color: #333;
          box-shadow: inset 0 0px 20px 0 rgba(0, 0, 0, 0.6);

          > div {
            .headline, .subline {

              margin: 0;
              margin-bottom: 10px;
              &:last-child {
                margin-bottom: 0;
              }
              &, > * {
                color: $color-primary-headline-dark;
              }
            }
            .headline {
              font-size: 18px;
            }
            .subline {
              font-size: 14px;
            }

          }

        }

        > .area-content {
          position: relative;
          z-index: 10;
        }

      }


    } @else {

      body:not(.coma-edit-mode) & {

        &[data-scroll-view], &.scroll-view {

          opacity: 0.2;
          transition: transform .7s ease, opacity .5s .2s ease;

          &.in-view {
            //transform: translateX(0);
            opacity: 1;
          }
        }

      }

      p, blockquote {

        line-height: 1.6;
        font-size: 16px;
      }

      blockquote {
        margin: 20px 40px;
        border-left: solid #555555 4px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        b, strong {
          font-weight: 600;
        }

      }

    }

  }

}