@mixin Element_TouchButton_Icon($critical) {

  @if $critical == false {

    .partial[data-partial="elements/touch-button/icon"] {

      > span {

        &:before {
          @include font-icon();

          display: block;
          padding: 0;

          font-size: 28px;
          line-height: 42px;

          text-align: center;

          color: #ffffff;

        }

      }

    }

  }

}