@mixin Component_Media_Code($critical) {

  .partial[data-partial="components/media/code"] {

    @if $critical {

      > input {
        display: none;
      }

    } @else {

      body:not(.coma-edit-mode) & {

        &:not(.code-init) {
          > .code {

            &:after {

              position: absolute;

              top: 0;
              left: 0;

              width: 100%;
              height: 100%;

              opacity: 1;

              z-index: 10;

              content: '';

              background: rgba(255, 255, 255, 0.8);
              background-image: url("../../../wp-admin/images/spinner-2x.gif");
              background-repeat: no-repeat;
              background-position: center;

            }

          }

        }

      }

      &:before {
        float: right;

        color: #666666;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
        font-weight: 300;
        text-transform: uppercase;
        content: attr(data-code);

        font-size: 18px;
        line-height: 1.2;
      }

      > header, &:before {
        margin: 0px 20px;
        margin-bottom: 20px;
      }
      .preview > header {
        margin: 20px 20px;
      }

      .preview {
        @extend .partial[data-partial="components/media"];
      }

      &.closed {
        > .code {
          max-height: none;
        }
      }
      > .code {

        clear: both;

        box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.1);
        border: solid #ccc 1px;
        border-radius: 3px;
        box-sizing: content-box;

        position: relative;

        min-height: 40px;

        font-size: 12px;
        line-height: 1;

        > pre {
          box-sizing: border-box;
          margin-top: 0;
          margin-bottom: 0;

          height: 100%;
        }
        > .expander {
          display: none;
        }

      }


      > input:not(:checked) + .code {

        > .container-resizer-helper {
          display: none;
        }

        max-height: 240px;
        overflow: hidden;

        &:hover {
          > .expander {
            opacity: 0.8;
            background-color: rgba(0, 0, 0, 0.6);
          }
        }

        > .expander {

          display: block;

          cursor: pointer;
          position: absolute;

          top: 0;
          left: 0;

          width: 100%;
          height: 100%;

          box-shadow: inset 0 0 20px 0 rgba(0, 0, 0, 0.2);
          background-color: rgba(0, 0, 0, 0.2);

          opacity: 0.8;

          transition: opacity .35s ease, background-color .35s ease, box-shadow .35s ease;

          span {

            position: absolute;
            top: 50%;
            left: 50%;

            width: 100%;

            transform: translate(-50%, -50%);

            text-align: center;

            font-weight: 600;
            font-size: 24px;
            color: #ffffff;

            opacity: 0.8;

          }

        }

      }

      > input:checked + .code {

        max-height: none;

        > .expander {
          display: none;
        }

      }

      > .preview {

        > h3 {

          &:before {
            content: '';
            border-top: solid #cccccc 3px;

            width: 100%;
            display: block;
            margin: 10px 0;
            margin-bottom: 15px;
          }

        }
        > div {
          margin: 0 20px;
          padding: 5px;

          box-sizing: border-box;
          border-radius: 3px;
          box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.1);

          border: solid #ccc 1px;

        }

      }

      > .code {

        margin: 20px;
        margin-bottom: 0;

      }
      &:last-child {
        > .code {
        }
      }

    }
  }

}