@mixin Component_Media_Slider($critical) {

  @if $critical {

    .partial[data-partial="components/media/slider"] {

      .partial[data-partial="components/post-list/post"] > section > .area-content & {

        margin: 0 20px;
        border: solid #cccccc 1px;
        border-radius: 3px;
        box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.1);
        overflow: hidden;

      }

    }

  }

}