@mixin Component_Media_Video($critical) {

  @if $critical {

    .partial[data-partial="components/media/video"] {

      .partial[data-partial="components/post-list/post"] > section > .area-content & {

        > div {
          margin: 0 20px;
          border: solid #cccccc 1px;
          border-radius: 3px;
          box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.1);
          overflow: hidden;
        }

      }

      >div {

        position: relative;

        &:before {
          content: '';
          display: block;
          padding-top: percentage(9/16);
        }

        video, iframe {

          display: block;

          position: absolute;
          top: 0;
          left: 0;

          width: 100%;
          height: 100%;

        }

      }

    }

  }

}