@mixin Component_Footer($critical) {

  .partial[data-partial="components/footer"] {

    @if $critical == false {

      margin-top: 20px;
      padding: 0 $offset-default;

      > div {

        border-top: solid #cccccc 1px;

        > div {

          > * {

            margin: 10px 20px;
            @media(min-width: $screen-md-min){
              margin: 10px 20px;
            }

          }

            padding-left: 0;
            padding-right: 0;


          > p {
            font-size: 14px;
            color: #888888;

            text-align: right;
          }

        }

      }

    } @else {

    }

  }

}