@mixin Component_Header($critical) {

  .partial[data-partial="components/header"] {

    @if $critical {

      > div {

        @include clearfix();

        > div {
          &:first-child {
            min-height: 120px;

            @media(max-width: $screen-sm-max) {

              //width: auto;

            }
          }

          > * {

            //padding: $offset-default;

          }
          position: relative;

          h1, h2, h3, h4 {

            margin: 0;
            padding: 0 $offset-default;

            &, a {

              @include font-open-sans();
              line-height: 1.2;

              color: #333333;

              @media (min-width: $screen-md-min) {
                white-space: nowrap;
              }

            }

          }

          h1, body.single-post & h2 {
            font-size: 80px;
            line-height: 120px;
            &, a {
              color: #bbbbbb;
            }
          }
          body:not(.single-post) & h2, body.single-post & h3 {
            position: absolute;
            bottom: 19px;
            left: 45px;
            right: 15px;
            font-size: 30px;

            @media (max-width: $screen-sm-max){
              left: 25px;
              right: 10px;
            }
          }

        }

      }

      .single-navigation {

        .back {

          border-right: solid #CCCCCC 6px;

        }

      }

    } @else {

    }

  }

}