@mixin Component_Media($critical) {

  @if $critical {

    .partial[data-partial="components/media"], .partial[data-partial^="components/media/"] {

      @extend .partial[data-partial="components/post-list/post"];

      .partial[data-partial="components/post-list/post"] > section > .area-content & {

        border-radius: 0;
        box-shadow: none;
        border: none;

        margin: 20px 0;

        &:first-child {
          margin-top: 0;
        }
        &:last-child {
          margin-bottom: 0;
        }


      }

      > header {
        margin: 0px 20px;
        margin-bottom: 20px;
      }

      > header {

        .headline, .subline {
          margin: 10px 0;
          &:first-child {
            margin-top: 0;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }

        .headline {
          font-size: 18px;
          color: $color-post-header-headline-default;
        }
        .subline {
          font-size: 14px;
          color: $color-post-header-subline-default;
        }

      }

    }

  } @else {

    .partial[data-partial="components/media"] {

      > header {

        .headline, .subline {
          margin: 10px 0;
          &:first-child {
            margin-top: 0;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }

        .headline {
          font-size: 18px;
          color: $color-post-header-headline-default;
        }
        .subline {
          font-size: 14px;
          color: $color-post-header-subline-default;
        }

      }

    }

  }

}