@mixin Component_PostList($critical) {

  .partial[data-partial="components/post-list"] {

    @if $critical {

      >article:first-child {

        > header {
          padding: 0 20px;
        }

      }

      .partial[data-partial="components/post-list/post"] {
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0;
        }
      }

    } @else {

    }

  }

}
