@mixin Component_Slider($critical) {

  .partial[data-partial="components/slider"] {

    @if $critical {

      position: relative;

      .partial[data-partial="components/post-list/post"] > section > .area-content & {

        > div {
          margin: 20px;
          border: solid #cccccc 1px;
          border-radius: 3px;
          box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.1);
          overflow: hidden;
        }

      }


      &:not(.slick-initialized) {
        > [data-partial="components/slider/slide"] {

          top: 0;
          position: absolute;
          visibility: hidden;

          &:first-child {
            position: relative;
            visibility: visible;
          }

        }
      }

    } @else {

      &, * {
        outline: none;
      }

      .slick-dots {

        position: absolute;
        bottom: 20px;

        list-style: none;
        margin: 0;
        padding: 0;

        width: 100%;
        text-align: center;

        li {
          display: inline-block;

          button {
            outline: none;
            border: none;
            background: rgba(255, 255, 255, 1);
            width: 16px;
            height: 16px;

            box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
            border-radius: 50%;

            font-size: 0;

            margin: 0 5px;

            line-height: 1;
          }
          &.slick-active {
            button {
              background: #23282d;
            }

          }
        }

      }

      .slick-arrow {

        z-index: 100;

        position: absolute;
        top: 50%;

        border: none;
        background: rgba(red(#23282d), green(#23282d), blue(#23282d), .4);

        &:hover {
          background: rgba(red(#23282d), green(#23282d), blue(#23282d), .8);
        }

        font-size: 0;

        margin-top: -30px;

        width: 48px;
        height: 60px;

        padding: 0;

        &:before {
          @include font-icon();
          font-size: 16px;
          color: #ffffff;
        }

        &.slick-prev {
          left: 20px;
          @extend .coma-theme-icon-arrow_left;
        }
        &.slick-next {
          right: 20px;
          @extend .coma-theme-icon-arrow_right;
        }

      }

      .slick-track {
        outline: none;
      }

    }

  }

}