$critical: true;
@import "./common.scss";
@import "./common/grid.scss";

@include wp();

body {

  background-color: #EEEEEE;
  font-family: $font-basic;

  html.font-loading & {
    &, *, a, h1, h2 {
      color: transparent !important;
    }
  }
  > div {

    a {
      text-decoration: none;
    }

    h1, h2, h3, h4, h5, h6 {
      font-weight: 600;
    }

    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

    @media (min-width: $screen-md-min) {
      > main {
        padding-top: 120px;
      }
    }
    @media (min-width: $screen-lg-min) {
      > aside {
        padding-top: 120px;
      }
    }
    > main {
      > * {
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    > aside {
      > * {
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

}
