$screenNames: lg, md, sm, xs, default;
$screenSizes: 1200, 992, 768, 480;

body {
  &:after {
    display: none !important;
  }
}

picture {
  position: relative;
  display: block;

  &.svg {
    position: relative;
    display: block;
    width: 100%;
    vertical-align: middle;
    padding-top: 100%;


    svg {
      position: absolute;
      overflow: visible !important;
      top: 0;

      image {
        width: 100%;
        height: auto;
      }
    }
  }

  > source {
    position: relative;
    display: none;
  }

  > img {
    display: block;
    margin: auto;
    width: 100%;


    .mejs-container + &, video + & {
      .js-modal-active .partial[data-partial*="layouts/modal"] & {
        position: fixed;
        top: 50%;
        left: 50%;
        width: auto !important;
        height: auto !important;
        min-width: 100%;
        min-height: 100%;
        transform: translate(-50%, -50%);
      }
    }
  }

  > *:last-child {
    display: block;
  }

  > .last-child {
    display: block;
  }
}

@mixin alignmentAndScaling ($name ){
  picture.align-left- {
    &#{$name}{
      > img, > svg {
        width: auto;
        float: left;
      }
    }
  }

  picture.align-right- {
    &#{$name} {
      > img, > svg {
        width: auto;
        float: right;
      }
    }
  }

  picture.align-horizontal-center- {
    &#{$name} {
      overflow: hidden;
      > img, > svg {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
        height: 100%;
      }
    }
  }

  picture.align-vertical-center- {
    &#{$name} {
      overflow: hidden;
      > img, > svg {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: auto;
      }
    }
  }

  /* needs a height dimension from outerElement e.g. height: 50%;*/
  picture.align-center- {
    &#{$name} {
      overflow: hidden;
      > img, > svg {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        height: auto;
        min-height: 100%;
      }
    }
  }

  picture.scale- {
    &#{$name} {
      width: 100%;
      margin-left: 0;

      > svg {
        width: 100%;
        height: 100%;
      }

      > img {
        float: none;
        width: 100%;
        height: auto;
        margin-left: 0;
      }
    }
  }
}

@mixin createRule($name) {
  @include alignmentAndScaling($name);

  body:after {
    content: '#{$name}' !important;
  }
}

@include createRule(default);

@media (min-width: $screen-xs) {
  @include createRule(xs);
}

@media (min-width: $screen-sm) {
  @include createRule(sm)
}

@media (min-width: $screen-md) {
  @include createRule(md);
}

@media (min-width: $screen-lg) {
  @include createRule(lg);
}