
// Typo

$font-basic: 'Open Sans', sans-serif;
$font-icon: 'coma-theme-icon';

$coma-theme-icon-unfullscreen: "\e902";
$coma-theme-icon-fullscreen: "\e900";
$coma-theme-icon-arrow_left: "\1f31e";
$coma-theme-icon-arrow_right: "\e901";

@mixin font-open-sans() {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

@mixin font-icon() {
  font-family: $font-icon;
}

@mixin font-dashicons() {
  font-family: 'dashicons', sans-serif;
}

$screen-lg: 1200px;
$screen-lg-min: 1200px;

$screen-md-max: $screen-lg - 1px;
$screen-md: 992px;
$screen-md-min: 992px;

$screen-sm-max: $screen-md - 1px;
$screen-sm: 768px;
$screen-sm-min: 768px;

$screen-xs-max: $screen-sm - 1px;
$screen-xs: 480px;
$screen-xs-min: 480px;

// Grid

$grid-size: 12;
$grid-gutter-offset: 12px;
$grid-sizes-key: "xs", "sm", "md", "lg";
$grid-sizes-width: $screen-xs, $screen-sm, $screen-md, $screen-lg;

$offset-default: 5px;

$color-header-navigation-default: #555555;
$color-header-navigation-selected: #000000;
$color-header-navigation-background-selected: rgba(0, 0, 0, 0.1);
$color-header-navigation-border-selected: rgba(0, 0, 0, 0.2);

$color-header-mobile-navigation-default: #EEEEEE;
$color-header-mobile-navigation-selected: #FFFFFF;
$color-header-mobile-navigation-background-selected: rgba(255, 255, 255, 0.1);
$color-header-mobile-navigation-border-selected: rgba(255, 255, 255, 0.2);


$color-footer-navigation-default: #555555;
$color-footer-navigation-selected: #000000;

$color-sidebar-menu-header-default: #333333;

$color-primary-headline: #333333;
$color-primary-headline-dark: #ffffff;
$color-copy-basic: #333333;
$color-copy-dim: #CCCCCC;

$color-link-default: #555555;
$color-link-selected-default: #000000;

$color-post-header-headline-default: #333333;
$color-post-header-subline-default: #888888;